@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.second-navbar .bg-body-tertiary
{
background-color: white !important;

}

.second-navbar .ms-auto button
{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(216, 18, 18);
    text-align: center;
    color: #fff;
    border: 0;
  
    
}

.second-navbar  
{
    color: #b71109;
}


/* ............wapper-sec.......... */

.wapper-sec .bg-body-tertiary
{
    background-color: rgb(32 13 105) !important;
    height: auto;
    padding: 20px;
}

.wapper-sec .style {
    border: 2px solid white;
    background-color: white;
}

.wapper-sec .nav-link {
    height: 40px;
    width: 200px;
    border: 2px solid gray;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: black;
}
.background-img{
    height: 600px;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.637) , rgba(0, 0, 0, 0.61) ,rgba(0, 0, 0, 0.541)), url("../Image/students.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     position: center center;
  
 
}
/* .second-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b71109;
} */
.logout button{
    height: 50px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 0;
}