  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wapper .ms-auto
{
    gap: 20px;
    color: #b71109;
}
.wapper .bg-body-tertiary
{
background-color: white !important;
height: 140px;
}

.wapper .ms-auto button
{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(216, 18, 18);
    text-align: center;
    color: #fff;
    border: 0;   
}

.wapper .ms-auto  a {
    color: #b71109;
    text-decoration: none;
   
}

.wapper .ms-auto button a{
    color: white;
}

.wapper .clgname h3
{
    color: #b71109;
}

.wapper .bg-body-tertiary a img {
    height: 120px;  
}





.wapper-sec .bg-body-tertiary
{
    background-color: rgb(32 13 105) !important;
    height: 80px;
    padding: 10px;
}





.wapper-sec .style {
    border: 0;
    background-color: white;
}




.wapper-sec .nav-link {
    height: 40px;
    width: 140px;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: black;
}

.wapper-sec .m-auto a {
    color: black;
    text-decoration: none;
}
.wapper-sec .m-auto a:hover{
    background-color: #b71109;
    color: white;
    border: 0;
}
