  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wapper .ms-auto
{
    gap: 20px;
    /* font-size: 20px; */
    color: #b71109;
}
.wapper .bg-body-tertiary
{
background-color: white !important;
/* border: 1px solid gray; */
}
/* .wapper .container {
    display: flex;
    justify-content: center !important;
} */
.wapper .ms-auto button
{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    background-color: rgb(216, 18, 18);
    text-align: center;
    color: #fff;
    border: 0;
    /* padding: 5px; */
    
}
.ms-auto  a {
    color: #b71109;
    text-decoration: none;
    /* font-size: 15px; */
}
.ms-auto button a{
    color: white;
}
/* .wapper .ms-auto button:hover
{
    box-shadow: 1px 10px 10px 1px rgb(0, 0, 0);
} */

.wapper .name h3
{
    color: #b71109;
    /* font-size: 25px; */
}

.bg-body-tertiary a img {
    height: 135px;
}
/* ............wapper-sec.......... */

.wapper-sec .bg-body-tertiary
{
    background-color: rgb(32 13 105) !important;
    height: auto;
    padding: 20px;
}

/* .wapper-sec .me-auto
{
    display: flex !important;
    justify-content: center !important;
} */
/* .wapper-sec #basic-navbar-nav
{
    display: flex !important;
    justify-content: center !important;
} */
.wapper-sec .style {
    border: 2px solid white;
    background-color: white;
}
.wapper-sec .container
{
    /* display: flex !important; */
    /* justify-content: center !important; */
    align-items: center !important;
    text-align: center !important; 
}
.wapper-sec .nav-link {
    height: 40px;
    width: 140px;
    border: 2px solid gray;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: black;
}
.wapper-sec .m-auto a {
    color: black;
    text-decoration: none;
}
/* .wapper-sec .nav-link:hover
{
    box-shadow: 1px 10px 10px 1px black;
} */

/* ............<slider>.................. */
.ms-auto {
    color: black;
    text-decoration: none;
}




