  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.wapper .ms-auto
{
    /* gap: 20px; */
    /* font-size: 20px; */
    color: #b71109;
}
.wapper .bg-body-tertiary
{
background-color: white !important;

}

.wapper .ms-auto button
{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    background-color:blue !important;
    text-align: center;
    color: #fff;
    border: 0;
  
    
}
.ms-auto  a {
    color: #b71109;
    text-decoration: none;
    font-size: 13px;
}
.ms-auto button a{
    color: white;
}


.wapper .name h3
{
    color: #b71109;
    font-size: 17px;
}
.bg-body-tertiary a img {
    height: 71px  !important;
  }
/* ............wapper-sec.......... */

.wapper-sec .bg-body-tertiary
{
    background-color: rgb(32 13 105) !important;
    /* height: auto; */
    padding: 2px !important;
    text-align: center;
}


.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: #e3d6d6;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
/* .wapper-sec .me-auto
{
    display: flex !important;
    justify-content: center !important;
} */
/* .wapper-sec #basic-navbar-nav
{
    display: flex !important;
    justify-content: center !important;
} */



.wapper-sec .style {
    border: 2px solid white;
    background-color: white;
}



.wapper-sec .container
{
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important; 
} 

.wapper-sec .nav-link {
    height: 40px;
    width: 140px;
    border: 2px solid gray;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: black;
}

.wapper-sec .m-auto a {
    color: black;
    text-decoration: none;
}


/* ............<slider>.................. */



/* ............<slider>.................. */

.slider img
{
    height: 100vh;
    width: 100%;
    background-color: rgb(95, 198, 64);
}


      /* ..........About college................ */


.about-college
{
    height: auto;
    background-color:#1450a372;
    padding-top: 20px;
    padding-bottom: 50px;

}
.about-college h2 {
    text-align: center;
     padding: 30px;
     text-decoration: underline 2px solid black;
     color: black;
   
}
.college-box .rows.row {
    text-align: -webkit-center;
}
.college-box img.card-img-top {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
}
.about-college .college-box .card{
    
    border-radius: 20px !important;
}

/* ...............<Our-facilities>............... */



.our-faci
{
    height: auto;
    background-color: #ffc33668;
    text-align: center;
    padding: 20px 0;
}
.our-faci h2
{
    
text-align: center;
padding: 30px;
text-decoration: underline 2px solid black;
}
.fac-box-one .rows.row {
    text-align: -webkit-center;
}
.fac-box-one{
    margin-top:  40px;

}
.fac-box-two .rows.row {
    text-align: -webkit-center;
}
.fac-box-two{
    margin: 40px 0;
}
.fac-box-one .card-img-top {
    height: 200px;
}
.fac-box-two .card-img-top {
    height: 200px;
}




/* ................,courses................. */



.our-cour a button
{
    height: 40px;
    width: 100px;
    /* border: 1px solid gray; */
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: 0;
    text-align: center;
    align-items: center;
    margin: auto;
}
.our-cour a
{
    margin: auto;
  
    text-align: center;
    text-decoration: none;
}
.our-cour h2
{
   
    align-items: center;

    text-decoration: underline 2px solid black;
  
    padding: 30px;

}
.our-cour 
{
    text-align: center;
    background-color: rgba(13, 141, 253, 0.447);
    align-items: center;
    height: auto;
    padding: 20px;
}
.course-box .rows.row {
    text-align: -webkit-center;
    margin-bottom: 30px;
}
.course-box .card-img-top {
    height: 200px;
}


/* ..............Form................. */


.form-main{
    height: auto;
    width: 100%;
    
}
.form-main .rows{
    margin: 20px 0;

}
.form-main form {
    border: 1px solid gray;
    padding: 10px;
}
.form-main iframe
{
    width: 100%;
    height: 100%;
}
.form-main .form-label {

    color: black;
    text-decoration: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
      width: 185px;
    }}




.main-footer
{
    height: auto;
    padding: 20px 0px;
    width: 100%;
    background-color: rgb(22 9 71);
    color: #fff;
}
.main-footer .rows
{
    text-align: center;
    color: #fff;

}
.main-footer .cols p {
  
    text-align: left;
}
.main-footer .cols h2{
   
    text-align: left;
    text-decoration: underline 2px solid yellow;
}


@media (max-width:995px){
    .wapper-sec .m-auto a{
        margin-top: 15px;
    }
}  